@page "/inscription"
@using System.Text
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject Requete_inscriptions Requete_inscription
@inject NavigationManager NavigationManager

<h3 class="text-center mb-4">Inscription</h3>
@if (1 == 1)
{
    <div class="container border rounded p-4 bg-white" style="max-width: 600px;">
        <EditForm Model="@model" OnValidSubmit="HandleSubmit" FormName="inscription">
            <DataAnnotationsValidator />

            <div class="mb-3">
                <label>Courriel:</label>
                <InputText class="form-control" @bind-Value="model.Email" />
            </div>

            <div class="mb-3">
                <label>Mot de passe:</label>
                <InputText type="password" class="form-control" @bind-Value="model.MotDePasse" />
            </div>

            <div class="mb-3">
                <label>Nom:</label>
                <InputText class="form-control" @bind-Value="model.Nom" />
            </div>

            <div class="mb-3">
                <label>Prénom:</label>
                <InputText class="form-control" @bind-Value="model.Prenom" />
            </div>

            <div class="mb-3">
                <label>Ville:</label>
                <InputText class="form-control" @bind-Value="model.Ville" />
            </div>

            <div class="mb-3">
                <label>Pays:</label>
                <InputText class="form-control" @bind-Value="model.Pays" />
            </div>

            <button type="submit" class="btn btn-primary">
                S'inscrire
            </button>
        </EditForm>

    </div>
}
@code {
    private ModelInscription model = new();

    private async Task HandleSubmit()
    {
        var passwordBytes = Encoding.UTF8.GetBytes(model.MotDePasse);

        await Requete_inscription.AjouterUtilisateur(
            model.Email,
            passwordBytes,
            model.Prenom,
            model.Nom,
            model.Ville,
            model.Pays
        );
        NavigationManager.NavigateTo("/Info_Entree_Sortie");
    }
}
