@page "/stat_Mensuelles"

<h3 class ="text-center">stat_Mensuelles</h3>
<table class="table">
    <thead>
        <tr>
            <th>Mois</th>
            <th>Total($) Mensuelles</th>
            <th>Moyenne ($)/jour</th>
            <th>Total(personne) Mensuelles</th>
            <th>Moyenne (personne)/jour</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@code {

}
